<main>
  <div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>404</h1>
      <h2>{{ "404" | translate }}</h2>
      <a class="btn" routerLink="/">{{ "voltar_inciio" | translate }}</a>
      <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Not Found" />
      <div class="credits">
        {{ "by" | translate }} <a href="https://espaes.com/" target="_blank">ESPAES</a>
      </div>
    </section>

  </div>
</main>
